<div>
    Copyright &copy; {{ year }} Job in Rwanda JIR Ltd. All Rights Reserved.
    <div class="site-details">
        <a href="/page/conditions-dutilisation">{{ terms }}</a> | <a
                href="/page/politique-de-protection-des-donnees">{{ privacy }}</a> | <a href="/user">{{ admin }}</a>
    </div>
</div>