<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-chart-bar"></i> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item">Published jobs <span class="badge">{{ jobs_count }}</span></li>
        <li class="list-group-item">Registered employers <span class="badge">{{ employers_count }}</span></li>
        <li class="list-group-item">Registered job candidates <span class="badge">42</span></li>
    </ul>
</div>