<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-globe-africa"></i> {{ title }}</div>
    <div class="panel-body">
        {% for site in sites %}
            {% set site = site|split(':') %}
            <i class="fa fa-check"></i><a href="{{ site[0] }}" target="_blank">{{ site[1] }}</a><br>
        {% endfor %}
    </div>
</div>