<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> <a href="http://www.jobinburundi.com" target="_blank">Jobinburundi.com</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> <a href="http://www.jobincameroun.com" target="_blank">Jobincameroun.com</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> <a href="http://www.jobinbrazza.com" target="_blank">Jobinbrazza.com</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> <a href="http://www.jobintogo.com" target="_blank">Jobintogo.com</a></li>
    </ul>
</div>