<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> {{ title }}</div>
    <div class="panel-body">
        <i class="fa fa-check"></i><a href="http://www.jobinburundi.com" target="_blank">Jobinburundi.com</a><br>
        <i class="fa fa-check"></i><a href="http://www.jobincameroun.com" target="_blank">Jobincameroun.com</a><br>
        <i class="fa fa-check"></i><a href="http://www.jobinbrazza.com" target="_blank">Jobinbrazza.com</a><br>
        <i class="fa fa-check"></i><a href="http://www.jobintogo.com" target="_blank">Jobintogo.com</a>
    </div>
</div>