<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-check"></i> Property/Real estate advertising</li>
        <li class="list-group-item"><i class="fa fa-check"></i> Assessing/Picturing property for advertising</li>
        <li class="list-group-item"><i class="fa fa-check"></i> Real estate agents/commissioners listing</li>
    </ul>
</div>