<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-check"></i> Jobs advertisement</li>
        <li class="list-group-item"><i class="fas fa-check"></i> Short-listing</li>
        <li class="list-group-item"><i class="fas fa-check"></i> Head hunting/Placement</li>
        <li class="list-group-item"><i class="fas fa-check"></i> Resumes on-demand</li>
        <li class="list-group-item"><i class="fas fa-check"></i> Banner advertisement</li>
    </ul>
</div>