<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <div class="panel-body">
        {% for service in services %}
            <i class="fas fa-check"></i> {{ service }}<br>
        {% endfor %}
    </div>
</div>